{% extends "music/base.html" %} {% block title %} {{album}}{% endblock title %} {% block albums_active %}active{% endblock albums_active %} {% block body %}
<div class="container-fluid">
    <div class="row">
        {% comment %}Left album info{% endcomment %}
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'music:detail' album.id %}">                             
                             {% if album.album_logo %}
                                 <img src="{{album.album_logo.url}}" alt="album logo" class="img-responsive">
                             {% endif %}                                 
                         </a>
                    <h1>{{album.album_title}}<small>{{album.genre}}</small></h1>
                    <h2>{{album.artist}}</h2>
                </div>
            </div>
        </div>
        {% comment %}Right Song Info{% endcomment %}
        <div class="col-sm-8 col-md-9">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'music:detail' album.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'music:create_song' album.id %}">Add New Song</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>All songs</h3>

                    {% if error_message %}
                    <p><strong>{{error_message}}</strong></p>
                    {% endif %}
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Audio File</th>
                                <th>Favorite</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in album.song_set.all %}
                            <tr>
                                <td>{{song.song_title}}</td>
                                <td>
                                    <a target="_blank" href="{{song.audio_file.url}}">
                                        <button type="button" class="btn btn-success btn-xs">
                                                    <span class="glyphicon glyphicon-play"></span>&nbsp;Play
                                                </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'music:delete_song' album.id song.id  %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{song.id}}">
                                        <button type="submit" class="btn btn-danger btn-xs">
                                                       <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                                   </button>

                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %} {% comment %}{{album}}
<img src="{{album.album_logo.url}}" alt="logo" class="img-responsive">
<h1>{{album.album_title}}</h1>
<h3>{{album.artist}}</h3>
{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{% else %} {% comment "comment" %}
<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %} {% for song in album.song_set.all %}
    <input type="radio" id="song {{forloo.counter}}" name="song" value="{{song.id}}">
    <label for="song{{forloop.counter}}">
               {{song.song_title}}
               {% if song.is_favorite %}
                   <img src="#" alt="kaimage">
               {% endif %}
           </label><br> {% endfor %}
    <input type="submit" name="" value="Favorite">
</form>
{% endcomment %}